@using WebApplication1.Models
@model Customer
@{
    ViewData["Title"] = "Customer Page";
}

<h1> Cool Web Aplication wiht ASP.Net</h1>
<h3>The Name is :@Model.Name</h3>
<h3>The Surname is :@Model.Surname</h3>
<h3>@Model.ToString()</h3>
<a>Very Cool</a>