@using WebApplication1.Models
@model Student
@{
    ViewData["Title"] = "Student Page";
}


<h1> Cool Web Aplication wiht ASP.Net</h1>
<h3>@Model.Name</h3>
<h3>@Model.Surname</h3>
<h3>@Model.ToString()</h3>
